// LAYOUT
$grid-column-count: 12;
$gap-space: 16px;

$page-width: 1400px;

$viewport-container-gutter: max(
  var(--container-gutter),
  calc((100vw - #{$page-width} - var(--scrollbar-width)) * 0.5)
);

// STACK
$zindex-header: 100;

// BREAKPOINTS
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-wide: 1300px;

// FONT SIZES
$font-size-lg: 20px;
$font-size-lg-min: 18px;

$font-size: 18px;
$font-size-min: 16px;

$font-size-xs: 16px;
$font-size-xs-min: 14px;

$line-height: 1.3;

// COLORS
$color-primary: #222;
$color-secondary: #7b7b7b;
$color-tertiary: #f8f8f8;

$color-white: #fff;
$color-balck: #000;

$color-font: $color-secondary;
$color-heading: $color-primary;
$color-background: $color-white;
$color-background-secondary: $color-tertiary;
