@use "../../styles/config.scss" as *;

.progressBar {
  --color-progress: var(--color-accent, var(--color-primary));

  display: flex;
  flex-direction: column;
  gap: $spacing-xxs;

  transform: translateY(10px);

  transition: $transition-duration $default-ease;
  transition-property: transform, opacity;

  @include enterAnimation(
    $parent: true,
    $transform: true,
    $delay: #{calc(var(--i, 0) * #{$animation-delay * 0.5})}
  );

  @media (min-width: $breakpoint-tablet) {
    gap: $spacing-xs;
  }
  &.intermediate {
    --opacity-progress: 0.8;
  }

  &.fundamental {
    --opacity-progress: 0.4;
  }

  &__title {
    font-weight: 500;
    z-index: 0;
  }

  &__progress {
    position: relative;

    inline-size: 100%;
    block-size: 6px;

    border: 1px solid;
    border-color: rgba(var(--color-primary-rgb), 0.2);
    background-color: var(--color-background-secondary);

    &::after {
      content: "";
      position: absolute;
      inset-inline-start: 0;
      inset-block: 0;
      inline-size: 0;
      background-color: var(--color-progress);
      opacity: var(--opacity-progress);

      transition: inline-size calc($animation-duration * 2) ease-in-out;
    }

    .inView &::after {
      transition-delay: calc($animation-delay * 2);
      inline-size: var(--progress-inline-size);
    }
  }
}
