@use "../../styles/config.scss" as *;

.text {
  @include enterAnimation($parent: true, $transform: true);

  transform: translateX(15%);

  &:not(:last-child) {
    margin-block-end: $spacing-md;
  }

  b {
    font-weight: 700;
    color: var(--color-accent, var(--color-font));
    font-size: 1.35em;
    line-height: 1.5;
  }

  p {
    &:not(:last-child) {
      margin-block-end: $spacing-sm;
    }
  }
}
