@use "../../styles/config.scss" as *;

.menu {
  display: block;

  position: fixed;
  inset: 0;
  z-index: $zindex-menu;

  pointer-events: none;

  opacity: 0;

  contain: layout;

  inline-size: 100vw;
  block-size: 100vh;

  transition: opacity $transition-duration $default-ease;

  @media (min-width: $breakpoint-tablet) {
    display: none;
  }

  &.active {
    opacity: 1;
  }

  &__inner {
    display: flex;

    overflow-x: hidden;
    overflow-y: auto;

    min-block-size: 100%;

    overscroll-behavior: contain;

    pointer-events: auto;

    background: var(--color-background);

    padding-block-start: calc(var(--header-height) * 1.2);

    transform: translate3d(105%, 0, 0);
    transition: transform $transition-duration $default-ease;

    .active & {
      transform: none;
    }
  }

  &__content {
    @include container;
    display: flex;
    flex-direction: column;
    gap: $spacing;

    justify-content: space-between;
    flex: 1;
    min-block-size: 100%;

    padding-block-start: $spacing-md;
    padding-block-end: $spacing-sm;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: $spacing-sm;

    & > button {
      transform: translateX(15%);

      @include enterAnimation(
        $parent: false,
        $transform: true,
        $className: ".active",
        $delay: #{calc(var(--i, 0) * #{$animation-delay})}
      );
    }
  }

  &__socials {
    display: flex;
    align-items: center;

    max-inline-size: min(100%, 250px);
    margin-inline: auto;
  }
}
