@use "../../styles/config.scss" as *;

.hero {
  @include fullDesktopScreen();
  --section-block-spacing-end: 0;

  position: relative;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;

    flex: 1;
  }

  &__content {
    @media (max-width: $breakpoint-tablet) {
      flex: 1;
    }
  }

  &__greeting {
    font-family: var(--font-family-heading);
    font-size: clamp($font-size-min, 5vw, $font-size * 1.5);
  }

  &__nameContainer {
    font-size: clamp($font-size-lg, 15vw, $font-size-lg * 4);
    text-align: left;

    @media (min-width: $breakpoint-tablet) {
      align-self: flex-end;
      margin-block-start: auto;

      margin-inline-end: calc($viewport-container-gutter * -1);
    }
  }

  &__name {
    color: var(--color-heading);
    font-weight: 700;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;

    font-size: clamp($font-size-lg, 5vw, $font-size-lg * 1.5);

    padding-block-start: clamp($spacing-sm, 3vh, $spacing-md);
    padding-inline-start: clamp($spacing-sm, 3vw, $spacing-md);
  }

  &__listItem {
    overflow: hidden;

    div {
      opacity: 0;
      transform: translateY(100%);

      .animateList & {
        opacity: 1;
        transform: none;

        transition-property: opacity, transform;
        transition: $transition-duration $default-ease;
        transition-delay: calc(var(--i) * $animation-delay);
      }
    }
  }
}
