@use "../../styles/config.scss" as *;

.hero {
  --section-block-spacing-end: 0;

  position: relative;
  z-index: 0;

  @include fullDesktopScreen();

  &.animationCompleted {
    @include enterAnimation($parent: true, $transform: true);

    @media (prefers-reduced-motion: no-preference) {
      transform: translateY(10%);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;

    flex: 1;
  }

  &__content {
    @media (max-width: $breakpoint-tablet) {
      flex: 1;
    }
  }

  &__greeting {
    inline-size: fit-content;
    font-family: var(--font-family-heading);
    font-size: clamp($font-size-min, 5vw, $font-size * 1.5);
  }

  &__nameContainer {
    font-size: clamp($font-size-lg, 15vw, $font-size-lg * 4);
    text-align: left;

    @media (min-width: $breakpoint-tablet) {
      align-self: flex-end;
      margin-block-start: auto;

      margin-inline-end: calc($viewport-container-gutter * -1);
    }
  }

  &__name {
    color: var(--color-heading);
    font-weight: 700;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;

    font-size: clamp($font-size-lg, 5vw, $font-size-lg * 1.5);

    padding-block-start: clamp($spacing-sm, 3vh, $spacing-md);
    padding-inline-start: clamp($spacing-sm, 3vw, $spacing-md);
  }

  &__listItem {
    overflow: hidden;

    div {
      @include enterAnimation(
        $parent: false,
        $transform: true,
        $className: ".animationCompleted",
        $delay: #{calc(var(--i) * $animation-delay)}
      );

      @media (prefers-reduced-motion: no-preference) {
        transform: translateY(100%);
      }
    }
  }
}
