$default-ease: ease;
$transition-duration: 300ms;
$animation-duration: 500ms;
$animation-delay: 100ms;

@keyframes fallingCursorSparkles {
  from {
    transform: translateY(0);
  }
  /* 50 = falling distance */
  to {
    transform: translateY(50px);
  }
}

@mixin enterAnimation(
  $className: ".inView",
  $parent: false,
  $transform: true,
  $delay: ""
) {
  opacity: 0;
  transition: opacity $transition-duration $default-ease;

  @if $transform {
    transition-property: opacity, transform;
  }

  @if $parent {
    &#{$className} {
      opacity: 1;
      transition-delay: #{$delay};

      @if $transform {
        transform: none;
      }
    }
  } @else {
    #{$className} & {
      opacity: 1;
      transition-delay: #{$delay};

      @if $transform {
        transform: none;
      }
    }
  }
}
