@use "variables" as *;

$default-ease: #{$ease-out};
$transition-duration: #{$duration-fast};
$animation-duration: #{$duration-base};
$animation-delay: 100ms;

@mixin enterAnimation(
  $className: ".inView",
  $parent: false,
  $transform: true,
  $delay: "",
  $opacityTo: 1
) {
  opacity: 0;
  transition: opacity $transition-duration $default-ease;

  @if $transform {
    transition-property: opacity, transform;
  }

  @if $parent {
    &#{$className} {
      opacity: #{$opacityTo};
      transition-delay: #{$delay};

      @if $transform {
        transform: none;
      }
    }
  } @else {
    #{$className} & {
      opacity: #{$opacityTo};
      transition-delay: #{$delay};

      @if $transform {
        transform: none;
      }
    }
  }
}
