@use "reset";
@use "config" as *;

:root {
  --viewport-height: 100vh;
  --container-gutter: clamp(
    #{$container-inline-spacing-min},
    6vw,
    #{$container-inline-spacing}
  );

  --header-height: #{$header-height};

  // FONTS
  --font-family: var(--font-family-geist-mono);
  --font-family-heading: var(--font-family-geist-sans);

  --font-size-default: #{$font-size-xs};

  @media (min-width: $breakpoint-tablet) {
    --font-size-default: #{$font-size};
  }

  // COLORS
  --color-primary: #{$color-primary};
  --color-primary-rgb: #{derive-rgb-values-from-hex($color-primary)};
  --color-secondary: #{$color-secondary};
  --color-tertiary: #{$color-tertiary};

  --color-font: #{$color-font};
  --color-font-contrast: #{$color-font-contrast};
  --color-heading: #{$color-heading};
  --color-background: #{$color-background};
  --color-background-contrast: #{$color-secondary};
  --color-background-secondary: #{$color-background-secondary};
  --color-border: #{$color-border};

  --container-width-narrow: #{$container-width-narrow};

  body[data-theme="dark"] {
    --color-primary: #{$color-tertiary};
    --color-primary-rgb: #{derive-rgb-values-from-hex($color-tertiary)};
    --color-secondary: #{$color-secondary};
    --color-tertiary: #{$color-primary};

    --color-font: #{$color-tertiary};
    --color-font-contrast: #{$color-font};
    --color-heading: #{$color-tertiary};
    --color-background: #{$color-primary};
    --color-background-contrast: #{$color-paper};
    --color-background-secondary: #{$color-secondary};
    --color-border: #{$color-tertiary};
  }

  @supports (height: 100vb) {
    --viewport-height: 100vb;
  }

  @supports (height: 100svb) {
    --viewport-height: 100svb;
  }
}

html {
  scroll-behavior: smooth;

  @mixin html-overflow-hidden {
    overflow-y: hidden;

    body {
      touch-action: none;
    }
  }

  scrollbar-gutter: stable;

  &.scroll-disabled {
    // when mobile menu is open
    @include html-overflow-hidden;
  }
}

body {
  min-block-size: var(--viewport-height);

  font-family: var(--font-family);
  font-size: var(--font-size-default);
  line-height: $line-height;

  color: var(--color-font);
  background-color: var(--color-background);

  transition: background-color 0.3 ease, color 0.3 ease;

  .cursor-sparkle {
    width: 0;
    height: 0;
    position: absolute;
    top: -4px;
    opacity: 0.5;
    pointer-events: none;

    &:after {
      content: "";
      position: absolute;
      left: -4px;
      top: 5px;
      width: 0;
      height: 0;
    }
  }
}
