@use "variables" as *;

@mixin container {
  max-inline-size: min(calc(100% - (var(--container-gutter) * 2)), $page-width);
  flex: 1;
  margin-inline: auto;
}

@mixin fullDesktopScreen {
  overflow: hidden;
  display: flex;

  min-block-size: var(--viewport-height);

  @media (min-width: $breakpoint-tablet) {
    block-size: var(--viewport-height);
  }
}
