// LAYOUT
$grid-column-count: 12;
$gap-space: 16px;

$page-width: 1400px;

$container-inline-spacing-min: 20px;
$container-inline-spacing: 80px;

$section-block-spacing: 110px;
$section-block-spacing-min: 80px;

$viewport-container-gutter: max(
  var(--container-gutter),
  calc((100vw - #{$page-width}) * 0.5)
);

$header-height: 60px;

// UTILITY SPACING
$spacing-base: 8px;

$spacing-xl: $spacing-base * 8; // 64px
$spacing-lg: $spacing-base * 7; // 56px
$spacing-md: $spacing-base * 6; // 48px
$spacing: $spacing-base * 4; // 32px
$spacing-sm: $spacing-base * 3; // 24px
$spacing-xs: $spacing-base * 2; // 16px
$spacing-xxs: $spacing-base;

// STACK
$zindex-header: 100;
$zindex-menu: $zindex-header + 1;
$zindex-menu-btn: $zindex-header + 2;

// BREAKPOINTS
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-wide: 1300px;

$container-width-narrow: 800px;

// FONT SIZES
$font-size-lg: 20px;
$font-size-lg-min: 18px;

$font-size: 18px;
$font-size-min: 16px;

$font-size-xs: 16px;
$font-size-xs-min: 14px;

$line-height: 1.3;

// COLORS
$color-primary: #222;
$color-secondary: #424242;
$color-tertiary: #f8f8f8;

$color-paper: #f2efea;

// TODO work on it
// THEMES
$color-teal-500: #5a8f7b;

$color-primary-700: #1a1c20; // bg
$color-primary-600: #2e3440; // bg-contrast
$color-primary-500: #5e81ac; // accent
$color-primary-300: #eceff4; // font
$color-primary-200: #ebf4ff; // font-contrast

$color-olive-800: #4b4f3f; // font
$color-olive-700: #4b4f3f; // bg-contrast
$color-olive-500: #7d8f6a; // accent
$color-olive-300: #f1f3ed; // bg
// font contrast white

$color-slate-800: #4b4f3f; // font
$color-slate-700: #37474f; // bg-contrast
$color-slate-600: #37474f; // font
$color-slate-500: #607d8b; // accent
$color-slate-300: #eceff1; //bg
// font contrast white

$color-white: #fff;
$color-black: #000;

$color-font: $color-secondary;
$color-font-contrast: $color-white;
$color-heading: $color-primary;
$color-background: $color-paper;
$color-background-secondary: $color-tertiary;
$color-border: $color-secondary;
$border-radius: 20px;

$button-height: 40px;

:export {
  fontDefault: $color-font;
  backgroundDefault: $color-background;
  backgroundSecondaryDefault: $color-background-secondary;
  accentDefault: $color-teal-500;
}
