@use "../../styles/config.scss" as *;

.projectCard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: $spacing-xs;
  align-items: center;

  &:not(:last-child) {
    padding-block-end: $spacing-sm;
    margin-block-end: $spacing-sm;
  }

  @media (min-width: $breakpoint-tablet) {
    grid-template-columns: repeat(12, 1fr);
  }

  &__mediaWrap {
    background-color: var(--color-background);
    inline-size: 100%;
    aspect-ratio: 570/250;

    overflow: hidden;

    grid-column: 1/1;

    @media (min-width: $breakpoint-tablet) {
      grid-row: 1;
      grid-column: 1/9;
    }
  }

  &__mediaInner {
    @include enterAnimation();

    inline-size: 100%;
    block-size: 100%;
  }

  &__content {
    @include enterAnimation($transform: true, $delay: #{$animation-delay * 2});

    transform: translateX(15%);
    position: relative;
    z-index: 1;
    grid-column: 1/1;

    @media (min-width: $breakpoint-tablet) {
      grid-column: 6 / -1;
      grid-row: 1;
    }

    @media (min-width: $breakpoint-desktop) {
      grid-column: 8 / -1;
    }
  }
}
