@use "../../styles/config.scss" as *;

.projectCardContent {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: $spacing-xs;
  }

  &__title {
    font-size: $font-size-lg;
    font-family: var(--font-family-heading);

    font-weight: 700;

    color: var(--color-accent);
  }

  &__textWrap {
    padding: $spacing-sm;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background-color: var(--color-background-secondary);
    }
  }

  &__text {
    font-size: 0.9em;
    text-align: right;

    color: var(--color-font-contrast);

    @media (min-width: $breakpoint-tablet) {
      font-size: 0.8em;
    }
  }

  &__pills {
    --pill-color: var(--color-font-contrast);

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    gap: $spacing-xxs;
  }
}
