@use "../../styles/config.scss" as *;

.contactLabels {
  --color: var(--section-color-font);
  --stick-height: 120px;

  transform: translateY(50%);

  position: fixed;
  inset-block-end: 0;
  z-index: $zindex-header;

  display: none;

  transition: opacity $transition-duration $default-ease;

  @media (min-width: $breakpoint-desktop) {
    display: block;
  }

  &.socials {
    @include enterAnimation(
      $parent: true,
      $transform: true,
      $delay: #{calc(4 * $animation-delay)},
      $ease: $ease-playful,
      $duration: $duration-base
    );

    inset-inline-start: 35px;

    &.hide {
      opacity: 0;
      pointer-events: none;
    }
  }

  &.email {
    @include enterAnimation(
      $parent: true,
      $transform: true,
      $delay: #{calc(5 * $animation-delay)},
      $ease: $ease-playful,
      $duration: $duration-base
    );

    inset-inline-end: 0;
    inset-block-end: auto;
    inset-block-start: 35px;
    writing-mode: vertical-rl;

    &.hide {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__socialsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::after {
      content: "";
      inline-size: 2px;
      block-size: var(--stick-height);
      background-color: var(--color);
      opacity: 0.5;
    }

    li {
      svg {
        --contact-list-svg-width: 24px;
        --contact-list-svg-color: var(--color);
      }
    }
  }

  &__emailInner {
    display: flex;
    align-items: center;

    gap: $spacing-xxs;

    &::after {
      content: "";
      block-size: 2px;
      inline-size: var(--stick-height);
      background-color: var(--color);
      opacity: 0.5;
    }

    a {
      text-decoration: none;
      color: var(--color);
      font-size: 0.8em;

      padding-block: 1em;
    }
  }
}

.contactLabelsCopy {
  position: absolute;
  inset-block-start: 0%;
  opacity: 0;

  color: var(--color-background);
  font-size: $font-size-xs-min;
  font-weight: 700;
  padding: calc($spacing-xxs / 2);

  writing-mode: lr;

  background-color: var(--color-font);

  &.active {
    opacity: 1;
    transition: opacity $transition-duration $default-ease;
  }
}
