@use "../../styles/config.scss" as *;

.header {
  &:not(.isMenuOpen) {
    --button-color-font: var(--section-color-font);
    --button-background: var(--section-color-accent);
  }

  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: $zindex-header;

  inline-size: 100vw;
  block-size: var(--header-height);

  padding-block: $spacing-xxs;

  transition: transform $transition-duration linear;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;

    backdrop-filter: blur(20px);
    opacity: 0.85;
  }

  &.scrollingDown {
    transform: translateY(-100%);
  }

  &__inner {
    @include container();
    block-size: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: $breakpoint-tablet) {
      gap: $spacing-xxs;
      justify-content: space-between;
    }
  }

  &__nav {
    display: none;
    @media (min-width: $breakpoint-tablet) {
      display: block;
    }
  }

  &__switcher {
    margin-inline-end: auto;

    @media (min-width: $breakpoint-desktop) {
      position: relative;
      inset-inline-end: calc($viewport-container-gutter * -1 + #{$spacing-md});
      margin-inline-end: 0;
    }
  }

  &__menuButton,
  &__action {
    display: block;
    z-index: $zindex-menu-btn;
    @media (min-width: $breakpoint-tablet) {
      display: none;
    }
  }
}
