@use "../../styles/config.scss" as *;

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.video {
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  z-index: 0;

  &__buttonContainer {
    position: absolute;
    inset: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background-color: var(
        --video-background,
        var(--color-background-secondary, #{$color-primary})
      );

      opacity: 0.5;

      transition: opacity $transition-duration $default-ease;
    }

    .isPlaying & {
      &::after {
        opacity: 0;
      }
    }
  }

  &__button {
    inline-size: 4em;
    aspect-ratio: 1;
  }

  &__buttonSvg {
    inline-size: 100%;
    transition: opacity 1s ease;

    .isPlaying & {
      opacity: 0;
    }
  }

  &__buttonStroke {
    stroke-dashoffset: 0;
    stroke-dasharray: 300;
    stroke-width: 4px;
    transition: stroke-dashoffset 500ms ease, opacity 500ms ease;

    .isPlaying & {
      opacity: 0;
      stroke-dashoffset: 300;
    }
  }

  &__buttonPlay {
    transform-origin: 50% 50%;
    transition: transform 200ms ease-out;

    .isPlaying & {
      transform: scale(1.05);
    }
  }

  video {
    min-inline-size: 100%;
    min-block-size: 100%;
  }
}
