@use "../../styles/config.scss" as *;

.scrollList {
  $major-breakpoint: $breakpoint-desktop;
  scroll-snap-type: y proximity;

  display: flex;

  &__heading,
  &__listItem {
    text-transform: uppercase;
    letter-spacing: 0.06em;
    line-height: 1;
    font-size: clamp($font-size-min, 3vw, $font-size * 4);
  }

  &__heading {
    flex-grow: 0;
    align-self: flex-start;

    padding-inline-end: $spacing-sm;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;

    @media (min-width: $major-breakpoint) {
      margin-block-start: -20vh;
    }
  }

  &__listItem {
    scroll-snap-align: center;
    padding-inline-start: 0.2em;

    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

    gap: calc($spacing-xxs / 2);

    @media (min-width: $major-breakpoint) {
      padding-block: 20vh;
      position: relative;
      display: unset;
    }

    span {
      display: inline-block;
      padding-block: calc($spacing-xxs / 2);

      @media (min-width: $major-breakpoint) {
        padding-block: 0;
      }
    }

    img {
      max-inline-size: clamp(250px, 25vw, 500px);
      max-block-size: clamp(250px, 70vh, 500px);
      object-fit: contain;

      @media (min-width: $major-breakpoint) {
        position: absolute;
        inset-inline-start: 90%;
        inset-block-start: 50%;
        transform: translateY(-50%);
        z-index: -1;
      }
    }
  }
}
