@use "../../styles/config.scss" as *;

.theme {
  position: fixed;
  inset: 0;
  z-index: 0;

  pointer-events: none;

  &__background {
    &:where(.default) {
      --__color-background: var(--color-background);
    }

    &:where(.primary) {
      --__color-background: var(--color-moonlight-700);
    }

    &:where(.olive) {
      --__color-background: var(--color-olive-300);
    }

    &:where(.slate) {
      --__color-background: var(--color-slate-300);
    }

    position: absolute;
    inset: 0;
    z-index: 0;

    opacity: 0;

    transition: opacity 700ms linear;
    background-color: var(--__color-background);
    pointer-events: none;

    &.active {
      // z-index: 1;
      opacity: 1;
    }
  }
}
