@use "../../styles/config.scss" as *;

.nav {
  --button-background: var(--section-color-accent);

  font-family: var(--font-family-heading);
  font-size: $font-size-xs-min;
  color: var(--section-color-font, var(--color-font));

  @media (min-width: $breakpoint-wide) {
    font-size: $font-size-xs;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;

    gap: clamp($spacing-xs, 2vw, $spacing-sm);

    > * {
      @include enterAnimation(
        $className: ".heroReady",
        $delay: #{calc((6 * $animation-delay) + (var(--i, 0) * $animation-delay))},
        $ease: $ease-playful,
        $duration: $duration-base
      );

      @media (prefers-reduced-motion: no-preference) {
        transform: translateY(-50%) scale(0.9);
      }
    }
  }
}
