@use "../../styles/config.scss" as *;

.contactLink {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--contact-link-padding, #{$spacing-xxs});
  flex: 1;

  background-color: transparent;

  svg {
    inline-size: var(--contact-list-svg-width, #{min(90%, 100px)});
    block-size: auto;

    fill: var(--contact-list-svg-color, currentColor);

    @media (min-width: $breakpoint-tablet) {
      opacity: 0.8;
    }
  }
}
