@use "../../styles/config.scss" as *;

.contactsLayout {
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: $spacing-xs;

    flex: 1;

    @media (min-width: $breakpoint-tablet) {
      gap: $spacing;
    }
  }

  &__titleWrapper {
    overflow: hidden;

    z-index: 0;

    @media (min-width: $breakpoint-tablet) {
      margin-block-end: $spacing-md;
    }
  }

  &__title {
    text-align: center;
    font-size: clamp($font-size-lg-min, 4vw, $font-size-lg * 1.5);

    @include enterAnimation($parent: false, $transform: true);

    @media (prefers-reduced-motion: no-preference) {
      transform: translateY(100%);
    }
  }

  &__list {
    display: grid;
    justify-content: space-between;

    margin-inline: auto;
    inline-size: min(100%, 300px);
    grid-template-columns: repeat(4, 1fr);

    li {
      display: flex;
    }
  }

  &__author {
    text-align: center;
    font-size: $font-size-xs-min;
  }
}
