@use "../../styles/config.scss" as *;

.skillList {
  &__inner {
    display: flex;
    flex-direction: column;

    gap: $spacing-md;
  }

  &__list {
    display: grid;
    grid-template-rows: auto;

    row-gap: $spacing-md;

    @media (min-width: $breakpoint-tablet) {
      grid-template-columns: repeat(2, 1fr);

      column-gap: $spacing-md;
      row-gap: $spacing-sm;

      .variant-compact & {
        max-inline-size: var(--container-width-narrow);
        margin: 0 auto;
      }
    }
  }

  &__listItem {
    @include enterAnimation(
      $parent: false,
      $transform: true,
      $delay: #{calc(var(--i, 0) * #{$animation-delay * 0.5})}
    );

    transform: translateX(5px);

    &::before {
      content: "";
      block-size: 4px;
      inline-size: 4px;
      display: inline-block;

      background-color: var(--color-accent);

      margin-inline-end: $spacing-xxs;
    }
  }
}
